body{
    /* font-family: "Open Sans", sans-serif; */
    /* font-family: "Manrope", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Montserrat", sans-serif; */
    font-family: "Jost", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    overflow-x: hidden;
    background-color: #fff;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p, blockquote{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}



/****************************************************
                Header Section start 
******************************************************/
.nav-link {
    font-size: var(--bs-nav-link-font-size);
    font-weight: 700;
    color: #080300;
    margin-left: 20px;
}
.searching-products{
    margin-left: 20px;
}
.searching-products button{
    position: relative;
    border: 2px solid #23B14D;
    background: #FFF;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 4px;
    z-index: 5;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.searching-products button::before{
    position: absolute;
    content: '';
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    transform: rotate(40deg);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.75);
    transition: all 0.3s ease-in-out;
}
.searching-products button:hover{
    border: 2px solid #23B14D;
    background: #23B14D;
    color: #FFF;
}
.searching-products button:hover::before{
    left: 100%;
}


/****************************************************
                Banner Section start 
******************************************************/
.banner-section{

}
.banner-poster{
    padding: 5rem 0;
    position: relative;
}
.banner-poster h1{
    width: 50%;
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    margin-bottom: 28px;
}
.form-field{
    position: relative;
}
.searching-form{
    width: 100%;
    height: 56px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 10px 38px rgba(0, 0, 0, 0.25);
    padding: 0 35px;
}
.searching-form:focus-visible{
    outline: none;
}
.form-field .btn-search{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 20px;
    padding: 0 30px;
    border: none;
    background-color: #23B14D;
    color: #FFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.form-field .btn-search:hover{
   box-shadow: 0 0 20px rgba(35, 177, 77, 0.5);
}

.img-container{
    position: absolute;
    top: 0;
    right: 0;
}
.img-container img{
   width: 100%;
}


@media ( min-width: 340px ) and ( max-width: 576px ){
    .banner-poster {
        padding: 3rem 0;
    }
    .banner-poster h1 {
        width: 100%;
        font-size: 54px;
        line-height: 66px;
    }
     .img-container{
        position: static;
     }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .banner-poster {
        padding: 3rem 0;
    }
    .banner-poster h1 {
        width: 100%;
        font-size: 54px;
        line-height: 66px;
        text-align: center;
    }
     .img-container{
        position: static;
     }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .banner-poster {
        padding: 3rem 0;
    }
    .img-container{
        position: static;
     }
}


/**********************************************
            About Section start 
************************************************/
.about-section{
   padding: 5rem 0;
}
.about-info p{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: #6D6864;
    margin: 16px 0 36px;
    line-height: 26px;
}
.about-info ul li{
    color: #1a1a1a;
    font-weight: 600;
    margin-bottom: 12px;
}
.about-info ul li::before{
    content: "\2713";
    color: #F0BE50;
    font-weight: 700;
    margin-right: 14px;
}

.btn-join{
    font-weight: 600;
    padding: 10px 30px;
    border: none;
    background-color: #23B14D;
    color: #FFF;
    border: 2px solid #FFF;
    margin-top: 28px;
    border-radius: 6px;
    transition:  all 0.3s ease-in-out;
}
.btn-join:hover{
    background-color: #FFF;
    color: #23B14D;
    border: 2px solid #23B14D;
}

@media ( min-width: 320px ) and ( max-width: 576px ){
    .about-section {
        padding: 1rem 0;
    }
    .banner-poster {
        padding: 3rem 0;
    }
   .about-image img{
        width: 320px;
        margin: 0 auto;
        display: block;
   }
   .about-image{
       margin-top: 70px;
   }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .about-section {
        padding: 1rem 0;
    }
    .banner-poster {
        padding: 3rem 0;
    }
    .about-image img{
        width: 400px;
        margin: 0 auto;
        display: block;
   }
   .about-image{
        margin-top: 70px;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .about-section {
        padding: 1rem 0;
    }
    .banner-poster {
        padding: 3rem 0;
    }
    .about-image img{
        width: 450px;
        margin: 0 auto;
        display: block;
    }
    .about-image{
        margin-top: 70px;
    }
}


/**********************************************
            Category Section start 
************************************************/
.category-section{
   padding: 5rem 0;
}
.category-details{
    
}
.category-details h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}
.category-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.category-wise{
   display: flex;
   align-items: center;
   box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
   padding: 15px 36px;
   border-radius: 4px;
}
.category-wise img{
    width: 45px;
}
.category-wise h5{
    font-weight: 700;
    margin-left: 20px;
    color: #080300;
}

@media ( min-width: 320px ) and ( max-width: 576px ){
    .category-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .category-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .category-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

/**********************************************
            Service Section start 
************************************************/
.service-section{
   padding: 5rem 0;
}
.service-container{
    
}
.service-container h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.service-list .service-details{
    background: #fff;
    border-radius: 12px;
    background-color: #F4F4F4;
}
.service-list .service-details img{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
}
.service-content{
    padding: 16px;
}
.service-content h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 12px;
}
.service-content .star-ratings{
    margin-bottom: 24px;
}
.service-content .star-ratings .bxs-star {
    color: #FEA200;
    font-size: 22px;
}   
.service-content .action-service{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-content .action-service a{
    color: #198652;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.service-content .action-service a .bx-right-arrow-alt{
    color: #198652;
    font-weight: 700;
}
.service-content .action-service .chat-btn{
    background-color: #198652;
    color: #fff;
    border: 2px solid #FFF;
    border-radius: 8px;
    padding: 8px 18px;
    transition: all 0.3s ease-in-out;
}
.service-content .action-service .chat-btn:hover{
    background-color: #FFF;
    color: #198652;
    border: 2px solid #198652;
    font-weight: 600;
}

@media ( min-width: 320px ) and ( max-width: 576px ){
    .service-section {
        padding: 1rem 0;
    }
    .service-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        background-color: #F4F4F4;
        padding: 20px;
        width: 100%;
    }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .service-section {
        padding: 1rem 0;
    }
    .service-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        background-color: #F4F4F4;
        padding: 20px;
        width: 100%;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .service-section {
        padding: 1rem 0;
    }
    .service-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        background-color: #F4F4F4;
        padding: 20px;
        width: 100%;
    }
}

/**********************************************
            Pricelist Section start 
************************************************/
.pricelist_section{
    padding: 5rem 0;
}
.price_head{
    text-align: center;
}
.price_head h1{
    text-decoration: underline;
    margin-bottom: 40px;
}
.main-price-list {
    border: 1px solid #e5e5e5;
    border-radius: 12px;

    transition: all 0.3s ease-in-out;
}
.main-price-list:hover{
    transform: translateY(-25px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.main-price-list .price-headlist{
    padding: 40px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.main-price-list .price-headlist h3{
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}
.main-price-list .price-headlist p{
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.price-list-menu{
    text-align: center;
    padding: 24px 0;
}
.price-list-menu ul li{
    color: #ABABAB;
    margin-bottom: 12px;
    font-weight: 400;
}
.price-list-menu ul li:first-child{
    font-size: 24px;
    font-weight: 600;
    color: #1a1a1a;
}
.yellow-color{
    background-color: #FCCA13;
}
.sky-color{
    background-color: #4DBDBE;
}
.navy-color{
    background-color: #3DB7E8;
}
.price-btn{
    position: relative;
    display: block;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    padding: 0 18px;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.price-btn:hover{
    background-color: #329366;
}
.price-btn .whatsapp-icon{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.price-btn:hover .whatsapp-icon{
    transform: translate(-50%, -50%);
}
.price-btn .whatsapp-icon .bxl-whatsapp{
    font-size: 28px;
}
.price-btn span{
    position: absolute;
    width: 100%;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.price-btn:hover span{
    position: absolute;
    width: 100%;
    top:  0%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

@media ( min-width: 320px ) and ( max-width: 576px ){
    .pricelist_section {
        padding: 2rem 0;
    }
    .main-price-list {
        margin-top: 30px;
    }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .pricelist_section {
        padding: 2rem 0;
    }
    .main-price-list {
        margin-top: 30px;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .pricelist_section {
        padding: 2rem 0;
    }
    .main-price-list {
        margin-top: 30px;
    }
}


/**********************************************
            Pro Service Section start 
************************************************/
.pro-service-section{
    padding: 5rem 0;
}  
.pro-service-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.service-images{
    width: 50%;
}
.service-images img{
   width: 100%;
   height: 100%;
}
.professional-service{
    width: 50%;
}
.professional-service h5{
    color: #198652;
    margin-bottom: 20px;
}
.professional-service h1{
    margin-bottom: 32px;
}
.professional-service p{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: #6D6864;
    margin: 16px 0 36px;
    line-height: 26px;
}
.professional-service .btn-watch{
    background: #23B14D;
    border: 2px solid #23B14D;
    color: #FFF;
    font-weight: 700;
    padding: 12px 22px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.professional-service .btn-watch:hover{
    background: #FFF;
    border: 2px solid #23B14D;
    color: #23B14D;  
}

@media ( min-width: 320px ) and ( max-width: 576px ){
    .pro-service-section {
        padding: 2rem 0;
    }
    .pro-service-container {
        flex-direction: column;
        gap: 20px;
    }
    .service-images {
        width: 100%;
    }
    .professional-service {
        width: 100%;
    }
    .professional-service h5 {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .professional-service h1 {
        margin-bottom: 24px;
    }
    .professional-service p {
        font-size: 13px;
        margin: 16px 0 18px;
        line-height: 24px;
    }
    .professional-service .btn-watch{
        margin-top: 20px;
    }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .pro-service-section {
        padding: 2rem 0;
    }
    .pro-service-container {
        flex-direction: column;
        gap: 20px;
    }
    .service-images {
        width: 100%;
    }
    .professional-service {
        width: 100%;
    }
    .professional-service h5 {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .professional-service h1 {
        margin-bottom: 24px;
    }
    .professional-service p {
        font-size: 13px;
        margin: 16px 0 18px;
        line-height: 24px;
    }
    .professional-service .btn-watch{
        margin-top: 20px;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .pro-service-section {
        padding: 2rem 0;
    }
    .pro-service-container {
        flex-direction: column;
        gap: 20px;
    }
    .service-images {
        width: 100%;
    }
    .professional-service {
        width: 100%;
    }
    .professional-service h5 {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .professional-service h1 {
        margin-bottom: 24px;
    }
    .professional-service p {
        font-size: 13px;
        margin: 16px 0 18px;
        line-height: 24px;
    }
    .professional-service .btn-watch{
        margin-top: 20px;
    }
}

/**********************************************
            project Section start 
************************************************/
.project-section{

}
.project-headtitle{
    /* background-color: #FFF9E2; */
    padding: 40px;
}
.project-headtitle h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 24px;
}
.project-headtitle p{
    width: 60%;
    text-align: center;
    margin: 0 auto 40px;
    color: #686555;
    font-weight: 500;
}
.project-galary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px; 
}
.project-galary img{
    width: 100%;
}


@media ( min-width: 320px ) and ( max-width: 576px ){
    .project-headtitle p {
        width: 100%;
    }    
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .project-headtitle p {
        width: 100%;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .project-headtitle p {
        width: 100%;
    }
}

/**********************************************
            Safety Section start 
************************************************/
.safty-section{
   padding: 4rem 0;
   background-color: #FAFBFD;
}
.safety-headtitles{
    margin-bottom: 60px;
}
.safety-headtitles h1{
   text-align: center;
}
.safety-service-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
} 
.safety-service{
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 35px;
    border-radius: 6px;
}
.safety-service img{
    width: 65px;
    display: block;
    margin-right: 20px;
}
.safety-service h4{
    font-size: 20px;
    color: #312F27;
}
.youtube-video iframe{
    width: 100%;
    height: 400px;
}


@media ( min-width: 320px ) and ( max-width: 576px ){
    .safety-service-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .safety-headtitles {
        margin-bottom: 32px;
    }
    .youtube-video{
        margin-top: 40px;
    }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .safety-service-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .youtube-video{
        margin-top: 40px;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .safety-service-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .youtube-video{
        margin-top: 40px;
    }
}


/**********************************************
            Emergency Section start 
************************************************/
.emergency-section{

}
.emergency-details{
    padding: 4rem 0;
    background-color: #030303;
}
.emergency-details h1{
    text-align: center;
    font-size: 36px;
    color: #FFF;
    opacity: 0.9;
}
.emergency-details a{
    display: block;
    text-align: center;
    color: #168B4A;
    font-weight: 800;
    font-size: 36px;
    margin-top: 20px;
}
.emergency-details .bx-phone-call{
    color: #1C8F50;
    opacity: 0.8;
}

@media ( min-width: 320px ) and ( max-width: 576px ){
    .emergency-details {
        padding: 4rem 1.5rem;
    }
    .emergency-details h1 {
        font-size: 20px;
    }
    .emergency-details .bx-phone-call {
        font-size: 24px;
    }    
    .emergency-details a {
        font-size: 24px;
    }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .emergency-details {
        padding: 4rem 1.5rem;
    }
    .emergency-details h1 {
        font-size: 20px;
    }
    .emergency-details .bx-phone-call {
        font-size: 24px;
    }    
    .emergency-details a {
        font-size: 24px;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .emergency-details {
        padding: 4rem 1.5rem;
    }
    .emergency-details h1 {
        font-size: 20px;
    }
    .emergency-details .bx-phone-call {
        font-size: 24px;
    }  
    .emergency-details a {
        font-size: 24px;
    }  
}

/**********************************************
            Logo Section start 
************************************************/
.logo-section{
    padding: 4rem 0;
}
.logo-container{
    
}
.logo-container h1{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.logo-div img{
    width: 160px !important;
}
.owl-theme .owl-nav {
    margin-top: 0px;
}  
#logo-slider button.owl-prev,
#logo-slider button.owl-next{
    font-size: 24px;
    width: 45px;
    height: 45px;
    background: #168B4A;
    color: #FFF;
    border-radius: 50px;
}

@media ( min-width: 320px ) and ( max-width: 576px ){
    .logo-container h1 {
        font-size: 24px;
        line-height: 36px;
    }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    .logo-container h1 {
        font-size: 24px;
        line-height: 36px;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    .logo-container h1 {
        font-size: 24px;
        line-height: 36px;
    }
}


/**********************************************
            Review Section start 
************************************************/
.review-section{
    padding: 3rem 0;
    background-color: #EDF5F7;
}
.review-container{

}
.review-container h1{
    text-align: center;
    margin-bottom: 60px;
}
.review-content{
    background: #FFF;
    padding: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.review-content .review-content-head{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.review-content .review-content-head img{
    width: 65px;
    border-radius: 50px;
}
.review-ratings-deatils{
    margin-left: 18px;
}
.review-ratings-deatils h4{
    color: #525157;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
}
.review-ratings-deatils .star-ratings{
    color: #0C973A;
}
.review-ratings-deatils .star-ratings .bxs-star{

}
.review-content p{
    color: #49455B;
    font-weight: 500;
    line-height: 28px;
    text-align: justify;
}

@media ( min-width: 320px ) and ( max-width: 576px ){

}

@media ( min-width: 577px ) and ( max-width: 768px ){

}

@media ( min-width: 769px ) and ( max-width: 992px ){

}


/**********************************************
            Contact Section start 
************************************************/
.contact-section{
    padding: 4rem 0;
    background-color: #F6F7F9;
}
.contact-img{
    
}
.contact-img img{
    width: 100%;  
}
.contact-form{
    
}
.contact-form h6{
    color: #33C36C;
    font-weight: 700;
    margin-bottom: 8px;
}
.contact-form h1{
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 24px;
}
.contact-form p{
    color: #9d9d9d;
    font-weight: 500;
    margin-bottom: 36px;
}
.contact-btn-submit{
    padding: 12px 50px;
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
    background-color: #33C36C;
    border: 2px solid #33C36C;
    /* border: none; */
    border-radius: 50px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}
.contact-btn-submit:hover{
    color: #33C36C;
    background-color: #FFF;
    border: 2px solid #33C36C;
}

@media ( min-width: 320px ) and ( max-width: 576px ){

}

@media ( min-width: 577px ) and ( max-width: 768px ){

}

@media ( min-width: 769px ) and ( max-width: 992px ){

}


/**********************************************
            Footer Section start 
************************************************/
footer{
    padding: 5rem 0;
    background: linear-gradient(111deg, rgba(18,134,195,1) 0%, rgba(1,207,161,1) 66%);
}
.main-footer{
    padding: 30px 50px;
}
.widget-1{
    
}
.widget-1 p{
    font-size: 15px;
    color: #fff;
    opacity: 0.9;
    margin-top: 12px;
}
.widget-2{
    
}
.service_list{
    display: flex; 
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.service_list .bx-right-arrow-alt{
    transform: translateX(-14px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.service_list span{
    transform: translateX(-14px);
    font-weight: 500 !important;
    transition: all 0.3s ease-in-out;
}
.service_list:hover span{
    transform: translateX(0);
}
.service_list:hover .bx-right-arrow-alt{
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}
.widget-2 h4{
    color: #FFF;
    font-weight: 600;
    margin-bottom: 32px;
}
.widget-2 ul li{
    color: #fff;
    opacity: 0.9;
    margin: 12px 0;
}
.widget-2 ul li span{
    color: #FFF;
    font-weight: 700;
}


@media ( min-width: 320px ) and ( max-width: 576px ){
    footer {
        padding: 2rem 0;
        background: linear-gradient(111deg, rgba(18, 134, 195, 1) 0%, rgba(1, 207, 161, 1) 66%);
    }
    .main-footer {
        padding: 30px;
        /* background: transparent; */
    }
    .widget-1 p {
        margin-bottom: 28px;
    }
    .widget-2 {
        margin-bottom: 40px;
    }    
    .widget-2 h4 {
        margin-bottom: 20px;
    }
}

@media ( min-width: 577px ) and ( max-width: 768px ){
    footer {
        padding: 2rem 0;
        background: linear-gradient(111deg, rgba(18, 134, 195, 1) 0%, rgba(1, 207, 161, 1) 66%);
    }
    .main-footer {
        padding: 10px;
        background: transparent;
    }
    .widget-1 p {
        margin-bottom: 28px;
    }
    .widget-2 {
        margin-bottom: 40px;
    }    
    .widget-2 h4 {
        margin-bottom: 20px;
    }
}

@media ( min-width: 769px ) and ( max-width: 992px ){
    footer {
        padding: 2rem 0;
        background: linear-gradient(111deg, rgba(18, 134, 195, 1) 0%, rgba(1, 207, 161, 1) 66%);
    }
    .main-footer {
        padding: 10px;
        background: transparent;
    }
    .widget-1 p {
        margin-bottom: 28px;
    }
    .widget-2 {
        margin-bottom: 40px;
    }    
    .widget-2 h4 {
        margin-bottom: 20px;
    }
}